
body{
    background: rgba(254,252,241);
    font-size: 20px;
    width: 960px;
    margin: auto;
}

h1{
    margin-top:20px;
    font-size:3em;
    color:#243248;
    font-family: 'Monoton', cursive;
    text-align:center;
}

h2{
    font-size:2em;
    color:#BE7B71;
    font-family: 'Lobster', cursive;
    text-align:center;
}
h3{
    font-size:1.5em;
    color:#384D6C;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
}
p{
    font-family: 'Lobster', sans-serif;
    color:#5E6562;
}

nav ul {
    text-align:center;
    margin: 30px;

}
nav ul li{
    display: inline;
    margin:30px;
    font-family: 'Russo One', sans-serif;
    color:#5E6562;
    font-size:15px;
}


#img-div1{
    float: left;
    margin: 0px 15px 15px 0px
}
#img-div2{
    float: right;
    margin: 0px 15px 15px 0px
}

#img-div3{
    float: left;
    margin: 0px 0px 15px 0px
}
#img-div4{
    float: left;
    margin: -30px 0px 0px 200px
}
#history{
    border: 0.5em dotted  #5E6562;
    width:90%;
    margin:auto;
    font-size:25px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(image/family.jpg);
} 


#merch-img{
    margin-left:50px;
}
#merch-img div img{
    float:left;
    margin-right:50px;
    margin-bottom: 50px;
    
    
}
.center{
    text-align: center;
    
}

.center ul li:nth-child(odd){
    font-family: 'Monoton', cursive;
    margin-top:20px;
    color:#BE7B71;
}

.center ul li:nth-child(even){
    font-family: 'lobster', cursive;
    margin-top:20px;
    color:  #5E6562;
}
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
#family{
    width:80%;
    margin-top:30px;
    margin-left:50px;
}